.menu-list {
   width: 224px;

   .menu-item {
      font-size: 1.6rem;
      background: #fff;
      width: 100%;
      text-align: left;
      font-weight: 500;
      padding: 11px 16px;
      &:hover {
         background-color: rgba(22, 24, 35, 0.03);
      }
   }
}

.menu-poper {
   padding-bottom: 8px;
   padding-left: 8px;
}
